/* Pagination.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #f0f0f0;
    color: var(--primary);
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #ccc;
  }
  
  .pagination button.active {
    background-color: var(--primary);
    color: #fff;
  }
  