.famouscompanies-header {
    margin-top: 50px;
    width: 40%;
    text-align: center;
    position: relative;  
    left: 30%;
}


.famouscompanies-header::before,
.famouscompanies-header::after {
    content: '';
    position: absolute;
    border: 4px solid var(--primary);
}

.famouscompanies-header::before {
    top: 20%;
    left: 0;
    width: 20px; /* Length of the top right border */
    height: 20px; /* Length of the top right border */
    border-top: none;
    border-right: none;
}

.famouscompanies-header::after {
    bottom: 20%;
    right: 0;
    width: 20px; /* Length of the bottom left border */
    height: 20px; /* Length of the bottom left border */
    border-bottom: none;
    border-left: none;
}


.grid-famouscompanies {
    padding: 50px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 25% 50% 25%;
}

.famouscompanies-card {
    cursor: pointer;
    width: 250px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.famouscompanies-maincard {
    cursor: pointer;
    width: 100%;
    height: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.famouscompanies-card:hover,
.famouscompanies-maincard:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

.allCompanies-btn {
    padding: 15px 20px;
    border: none;
    display: block;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    margin: 0 auto 35px auto;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.allCompanies-btn:hover {
    background-color: #0056b3;
}